# Modify the below credentials to match your Webex Meeting site, host Webex ID and password
# This sample does not support Webex or CI OAuth/SSO authentication

# Credentials for use with 'legacy' non-SSO/non-OAuth sites
WEBEXID=
SITENAME=
PASSWORD=

# Credentials for use with Webex OAuth sites (see oauth2.py)
WEBEXID_OAUTH=
CLIENT_ID=
CLIENT_SECRET=